@import "tailwindcss";

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

path.leaflet-interactive:focus {
    outline: none;
}

/* Remove bottom right leaflet attribution */
.leaflet-control-attribution {
  display: none;
}

@theme {
  --text-medium: 1.063rem; /* 17px */
  --color-hpi-current: #B4D8E7;
  --color-hpi-new: #F1B16E;
  --color-hpi-red: #A1223D;
  --color-hpi-orange: #CE682A;
  --color-hpi-yellow: #F1B16E;
  --color-blue: #2666B2;
}

/* Default font size */
html {
  font-size: 16px;
  scroll-behavior: smooth !important;
}

/* Extra Small Devices (Mobile Phones) */
@media (max-width: 1499px) {
  html {
    font-size: 14px;
  }
}

/* Small Devices (Tablets & Large Phones) */
@media (min-width: 1500px) and (max-width: 1900px) {
  html {
    font-size: 15px;
  }
}

/* Medium Devices (Tablets & Small Laptops) */
@media (min-width: 1901px) {
  html {
    font-size: 16px;
  }
}

.table-val {
  text-align: right;
  padding-right: 1rem;
}

#breakdown-table td,
#breakdown-table th,
#breakdown-table tr {
  border-color: hsla(6 100% 0% / 0.40);
  padding: 0.2rem 0.2rem;
}

/* border-r text-left font-semibold; */
.breakdown-table-first-col {
  border-right-width: 1px;
  text-align: left;
  font-weight: 600
}

#LearnMore {
  font-size: large;
  line-height: 2.08rem;
}

#LearnMore > div {
  margin: 0 2rem 3rem 2rem;
}

#LearnMore > div > ul {
  list-style-type: circle;
  padding-left: 3rem;
}

#LearnMore > div > ul > li > span {
  font-weight: 600;
}

#LearnMore > div > h3 {
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
}
